@page "/Test/Parent"
 
<PageTitle>Index</PageTitle>
 
<Child InputParam="message" OnClickCallback="@ShowMessage" />
<p>@message</p>
 
@code
{
    private string message;
 
    private void ShowMessage(string _message)
    {
        message = _message;
    }
}