@page "/UserManagement/UserEdit"
@page "/UserManagement/UserEdit/{UserId}"

@using Genesis.Shared.Models.UserManagement;
@using Genesis.Shared
@inject UserService userService;
@inject NavigationManager navigationManager
@inject StateService stateService;

<GenesisErrorMessage Messages="@errorMessage" ></GenesisErrorMessage>
<EditForm Model="@userDTO" OnValidSubmit="Submit">
            <DataAnnotationsValidator />
            <h3>Kullanıcı bilgileri</h3>
            <hr />
            <div class="row">
                <div class="mb-3 col">
                    <label class="form-label">Ad</label>
            <InputText id="firstName" class="form-control" placeholder="Ad"
                       @bind-Value="userDTO.firstname" />
            <ValidationMessage For="() => userDTO.firstname" class="text-danger d-block" />
                </div>
                <div class="mb-3 col">
                    <label class="form-label">Soyad</label>
            <InputText id="lastname" class="form-control" placeholder="Soyad"
                       @bind-Value="userDTO.lastname" />
            <ValidationMessage For="() => userDTO.lastname" class="text-danger d-block" />
        </div>
            </div>
    <div class="row">
        <div class="mb-3 col">
            <label class="form-label">Kullanıcı Adı</label>
            <InputText id="username" class="form-control" placeholder="Kullanıcı adı"
                       @bind-Value="userDTO.username"  />
            <ValidationMessage For="() => userDTO.username" class="text-danger d-block" />
           
        </div>
        <div class="mb-3 col">
            <label class="form-label">E-posta adresi</label>
            <InputText id="email" class="form-control" placeholder="Elektronik posta"
                       @bind-Value="userDTO.email" type="email" />
            <ValidationMessage For="() => userDTO.email" class="text-danger d-block" />
        </div>
    </div>
    <div class="row">
        
            <div class="mb-3 col">
                <button class="btn btn-lg btn-primary pull-xs-right" type="submit" >@ButtonName()</button>
            </div>
                @if (!string.IsNullOrEmpty(this.UserId)){
                    <div class="mb-3 col">
                        <GenesisPopConfirm ConfirmedChanged="Delete" class="btn btn-lg btn-primary pull-xs-right" />
                    </div>
                }
            
        </div>
        
        </EditForm>
@if (!string.IsNullOrEmpty(this.UserId))
{
    <EditForm Model="@userDTO">
        <h3>Şifre güncelleme</h3>
        <hr />
        <div class="row">
            <div class="mb-3 col">
                <label class="form-label">Şifre</label>
                <InputText id="password" class="form-control" placeholder="Şifre"
                           @bind-Value="userDTO.password" />

            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <button class="btn btn-lg btn-primary pull-xs-right" type="button" @onclick="UpdatePassword">Şifre Güncelleme</button>
            </div>
        </div>
    </EditForm>
}


@code {
    [Parameter]
    public string UserId { get; set; }
    Genesis.Shared.DTO.UserDTO userDTO = new Genesis.Shared.DTO.UserDTO();
    private ErrorMessages errorMessage = new ErrorMessages();
    protected override async Task OnInitializedAsync()
    {
        stateService.OnUserChange += UserHasLoaded;
        if (stateService.IsSignedIn)
        {
            if (!string.IsNullOrEmpty(this.UserId))
            {
                var userResponse = await userService.GetUser(System.Convert.ToInt32(this.UserId));
                if (userResponse.HasSuccessStatusCode)
                {
                    userDTO = userResponse.Value;
                    userDTO.password = string.Empty;
                }
            }
        }
        else
        {
            navigationManager.NavigateTo("/Login/Login/SignIn");
        }
    }

    public void Dispose()
    {
        stateService.OnUserChange -= UserHasLoaded;
    }

    void UserHasLoaded()
    {
        userDTO = new Genesis.Shared.DTO.UserDTO();
        StateHasChanged();
    }
    async Task Submit()
    {
        userDTO.activeuserId = stateService.UserResponse.UserId;

        var userControlResponse = await userService.GetUsername(userDTO.username);
        if ((string.IsNullOrEmpty(this.UserId) && userControlResponse.Value!=null) || (!string.IsNullOrEmpty(this.UserId) && userControlResponse.Value != null && userControlResponse.Value.userId != System.Convert.ToInt32(this.UserId)))
        {
            errorMessage = new ErrorMessages()
                {
                    title = "Kullanıcı güncelleme",
                    detail = "Kullanıcı adı kullanılıyor."
                };
            StateHasChanged();
            return;
        }
        var userResponse = !string.IsNullOrEmpty(this.UserId) ? await userService.UpdateAsync(userDTO) : await userService.AddAsync(userDTO);
        if (userResponse != null && userResponse.HasSuccessStatusCode)
        {
            navigationManager.NavigateTo("/UserManagement/UserList");
        }
        else
        {
            errorMessage = userResponse?.Errors;
            StateHasChanged();
        }
    }
    async Task UpdatePassword()
    {
        if (string.IsNullOrEmpty(userDTO.password))
        {
            errorMessage = new ErrorMessages()
                {
                    title = "Şifre güncelleme",
                    detail = "Şifre bilgisini giriniz."
                };
            StateHasChanged();
            return;
        }

        userDTO.activeuserId = stateService.UserResponse.UserId;
        var userResponse = await userService.ChangePasswordAsync(userDTO);
        if (userResponse != null && userResponse.HasSuccessStatusCode)
        {
            navigationManager.NavigateTo("/UserManagement/UserList");
        }
        else
        {
            errorMessage = userResponse?.Errors;
            StateHasChanged();
        }
    }
    async Task Delete(bool isDeleted)
    {
        if (isDeleted == false) return;
        if (this.UserId == stateService.UserResponse.UserId.ToString())
        {
            errorMessage = new ErrorMessages()
            {
                 title = "Kayıt silme",
                 detail = "Bu kullanıcıyı silemessiniz. Sistem girişinde kullanılıyor."
            };
            StateHasChanged();
            return;
        }
        var userResponse = await userService.DeleteAsync(this.UserId);
        if (userResponse != null && userResponse.HasSuccessStatusCode)
        {
            navigationManager.NavigateTo("/UserManagement/UserList");
        }
        else
        {
            errorMessage = userResponse?.Errors;
            StateHasChanged();
        }
        
    }

    private string ButtonName()
    {
        if (!string.IsNullOrEmpty(this.UserId))
        {
            return "Güncelle";
        }
        else
        {
            return "Ekle";
        }
    }
}
