@using Genesis.Shared
@using Genesis.WebApp.Models
@if (Messages!=null && Messages.detail != null)
{
    <p class="text-danger d-block"> @Messages.detail</p>
    <hr class="text-danger d-block" />
}


@code {
    [Parameter]
    public ErrorMessages Messages { get; set; } = null;
}
