@page "/"
@using Genesis.WebApp.Models
@using Genesis.WebApp.Services
@inject StateService state

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<div>@state.IsSignedIn</div>